# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies 
/client/node_modules
/dashboard/node_modules
/server/node_modules
/client/build
/dashboard/build



/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/dashboard/npm-debug.log*
/dashboard/yarn-debug.log*
/dashboard/yarn-error.log*

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*